# Dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# Next.js Build Output
/.next/
/out/
/build
/dist

# Environment Variables (NEVER commit secrets to Git)
.env
.env*.local
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.development
.env.production
.env.test
.env.staging

# Cloudflare & Edge Deployments
.open-next/
.wrangler/
.worker-next/

# Testing & Coverage
/coverage

# Vercel
.vercel

# TypeScript & Cache
*.tsbuildinfo
next-env.d.ts

# Logs & Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System & OS Files
.DS_Store
Thumbs.db
*.pem
*.key
*.cert

# IDE & Editor Configs
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo
